<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Edit your old tweet</h1>
    <form name="input" action="edttweet" method="post">
      <div><textarea name="content" cols="50" rows="4" maxlength="140"><%=oldcontent%></textarea></div>
      <input type="text" name="tweetid" value = "<%=id %>" style= "display:none"> 
      <input type="submit" value="Submit">
    </form>
  </body>
</html>