<!DOCTYPE html>
<html>
  <head>
    <title>Group Finder</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="/javascripts/handlebars.runtime.js"></script>
    <script src="/javascripts/templates.js"></script>
    <script src="/javascripts/helpers.js"></script>
    <script src="/javascripts/index.js"></script>
    <script src="/javascripts/users.js"></script>
  </head>
  <body>
    <h1>Group Finder <a style="float: right" href="#" id="home-link">Home</a><a style="float: right" href="#" id="logout-link">Logout</a></h1>
    <div id="main-container"></div>
  </body>
</html>
