<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Create a New Tweet</h1>
    <form name="input" action="addtweet" method="post">
      <div><textarea name="content" cols="50" rows="4" maxlength="140"></textarea></div>
      <input class="btn" type="submit" value="Tweet">
    </form>
  </body>
</html>