<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
  </head>
  <body>
    <h1><%= title %></h1>
	<h2>TEST RESULTS ARE LOGGED TO THE CONSOLE</h2>
  <h3>Please open the console to view the test results.</h3>
	<script src="unit_tests.js" type="text/javascript"></script>
  </body>
</html>