body {
  	padding: 50px;
  	font-family: 'Lato', sans-serif;
	font-weight: 200;
	word-wrap: break-word;
}

a{
	padding: 5px;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

button {
	background-color: #f9f9f9;
	outline: 1px solid #ccc;
	border: none;
}

.center {
	text-align: center
}

.info {
	padding: 10px;
}

.projectFilter {
	background-color: #ccf2f2;
	border: 1px solid #ccc;
	padding: 10px;
	margin: 10px;
}

.save-info, .new-project-create, .join-project-submit {
	margin: 30px;
	font-size: 20px;
	padding: 10px;
	background-color: #00C0C0;
	color: white;
	font-weight: 100;
	outline: none;
}

.visit-project, .join-project-request {
	background-color: #00C0C0;
	color: white;
	font-weight: 100;
	outline: none;
}

.join-project-container {
	width: 400px;
	outline: 1px solid #ccc;
	padding: 20px;
	background-color: #ccf2f2;
	margin-left: auto;
	margin-right: auto;
}

.error {
	color: #b42020;
}

.title {
	font-weight: 100;
}

#index_button_container, #login_form_container {
	text-align: center;
	padding: 40px;
}

.subtitle {
	color: #004c4c;
}

#project_container, #user_container, #new_project_container, #user_info_container, #login_container, #index_container {
	outline: 1px solid #ccc;
}

#project_panel, #user_panel {
	background-color: #e5f8f8;
	text-align: center;
	height: 100%;
	display: inline-block;
}

#schedule td {
	border: 1px solid #ccc;
	width: 25px;
}

#schedule th {
	text-align: center;
}

#schedule-container table {
	margin-left: auto;
	margin-right: auto;
}