body {
  	padding: 50px;
  	font-family: 'Lato', sans-serif;
	font-weight: 200;
}

a{
	padding: 5px;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.title {
	font-weight: 100;
}

#project_container {
	outline: 1px solid #ccc;
}

#project_panel {
	background-color: #e5f8f8;
	text-align: center;
}

#user_panel {
	background-color: #e5f8f8;
	text-align: center;
}

#project_users_panel {
	
}