<div id="homepage">
  <div class="container">

    <div class="row">
      <h1 class="title">GroupFinder</h1>
    </div>

    <div class="row" id="index_container">
      <div class="col-sm-12">
      	<div class="center" id="index_button_container">
	        <h3>Welcome!</h3>
			    <p>You must be logged in to continue.</p>
			    <button class="save-info" id="login-btn">Log In</button>
			    <button class="save-info" id="signup-btn">Sign Up</button>
		    </div>
      </div>
    </div>

  </div>
</div>