<div id="homepage">
<h1>Group Finder <a style="float: right" href="#" id="home-link">Home</a> <button  style="float: right" id="logout-btn">Log Out</button></h1>
  <h2>Welcome to Group Finder!</h2>
  <p>You must be logged in to continue.</p>
  <button id="login-btn">Log In</button>
  <button id="signup-btn">Sign Up</button>
</div>