<div id="homepage">

	<h1>Group Finder</h1>

	<h1>Welcome to Group Finder!</h1>
	<p>You must be logged in to continue.</p>
	<button id="login-btn">Log In</button>
	<button id="signup-btn">Sign Up</button>
	
</div>