{{!-- File Written by Danielle --}}

<div id="join-project">
  <div class="container">

    <div class="row">
      <span style="float:right"><a href="#" id="home-link">Home</a><a href="#" id="logout-link">Logout</a></span>
      <h1 class="title">GroupFinder</h1>
    </div>

    <div class="row" id="new_project_container">
      <div class="col-sm-12 center">

        <div class="row">
          <h3 class="center">Join {{proj_name}}</h3>
          <p>Please specify your desired grade, your desired amount of interaction, and your dedication to {{proj_name}}.
        </div>

        <div class="row">
          <div class="join-project-container">
            <span style="float:left"><p><i>Low</i></p></span>
            <span style="float:right"><p><i>High</i></p></span>
            <br>
            <div class="join-proj-info" data-info-id="desired_grade">
              <b>Desired Grade:</b> <br>
              <input type="range" min="0" max="10"/>
            </div>
            <br>
            <div class="join-proj-info" data-info-id="interaction">
              <b>Interaction:</b> <br>
              <input type="range" min="0" max="10"/>
            </div>
            <br>
            <div class="join-proj-info" data-info-id="dedication">
              <b>Dedication:</b> <br>
              <input type="range" min="0" max="10"/>
            </div>
            <br>
          </div>
        </div>

        <div class="row center">
          <button value="{{proj_name}}" class="join-project-submit">Join</button>
        </div>

      </div>
    </div>

  </div>
</div>