<div id="login">
	<h1>Group Finder <a style="float: right" href="#" id="home-link">Home</a></h1>
  <h2>Sign in <button id="signup-btn">Sign Up</button></h2>
  {{#if error}}
    <div class="error">{{error}}</div>
  {{/if}}
  <form id="login-form">
    <div>Username: <input type="text" name="username" required /></div>
    <div>Password: <input type="password" name="password" required /></div>
    <input type="submit" />
  </form>
	  
</div>