<div id="new-project">

  <div class="container">

    <div class="row">
      <span style="float:right"><a href="#" id="home-link">Home</a><a href="#" id="logout-link">Logout</a></span>
      <h1 class="title">GroupFinder</h1>
    </div>

    <div class="row" id="new_project_container">
      <div class="col-sm-12 center">

        <div class="new-proj-info" data-info-id="name">
          <b>Name:</b> <br>
          <input class="" type="text" placeholder="ex. 6.170 Project 3" />
        </div>
        <div class="new-proj-info" data-info-id="end_date">
          <b>End Date:</b> <br>
          <input type="date" />
        </div>

        <button class="new-project-create">Create</button>

      </div>

    </div>
  </div>

</div>