<div id="signup">
	<h1>Group Finder <a style="float: right" href="#" id="home-link">Home</a></h1>
  <h2>Sign up <button id="login-btn">Log In</button></h2>
  <div class="error">
    {{#if error}}
      {{error}}
    {{/if}}
  </div>
  <form id="signup-form">
    <div>Username: <input type="text" name="username" required /></div>
    <div>Password: <input type="password" name="password" required /></div>
	<div>Confirm Password: <input type="password" name="confirm" required /></div>
    <input type="submit" /> 
  </form>
	
</div>
