<div id="user">
  <p>Welcome, {{currentUser.username}} (<a href="#" id="logout-link">logout</a>)</p>
  <h1>View your info</h1>
  <h1>Your Info</h1>
  {{#each infos}}
    {{> info}}
  {{/each}}
</div>
