<div id="user">
  <p><span>Welcome, </span><span>{{currentUser}}</span> (<a href="#" id="logout-link">Logout</a>)</p>
  <h1>View your info</h1>
  <h1>Your Info</h1>
  {{#each infos}}
    {{> info}}
  {{/each}}
</div>
